<section>
    <h2>Mah B-Day, all piped up!</h2>
    <p>no pipe - {{birthday}}</p>
    <p>date pipe - {{birthday | date}}</p>
    <p>date: medium pipe - {{birthday | date:'medium'}}</p>
    <p>date: shortTime pipe - {{birthday | date:'shortTime'}}</p>
    <p>date: mmss pipe - {{birthday | date:'mmss'}}</p>
    <p>Lots more options <a href="https://angular.io/api/common/DatePipe#pre-defined-format-options" target="_blank">Here</a></p>
</section>

<section>
    <h2>NOW</h2>
    <p>no pipe - {{now}}</p>
    <p>date pipe - {{now | date}}</p>
    <p>date: medium pipe - {{now | date:'medium'}}</p>
    <p>date: shortTime pipe - {{now | date:'shortTime'}}</p>
    <p>date: mmss pipe - {{now | date:'mmss'}}</p>
    <p>Lots more options <a href="https://angular.io/api/common/DatePipe#pre-defined-format-options" target="_blank">Here</a></p>
</section>
