<h2>Eeveelution!!!!</h2>
<!-- <p>{{pokemon | evolve}}</p>
<p>{{pokemon | evolve:'water stone'}}</p>
<p>{{pokemon | evolve:'fire stone'}}</p>
<p>{{pokemon | evolve:'thunder stone'}}</p> -->
<div class="eeveeSection">
    <p>Eevee: The Evolution Pokemon</p>
    <img src="{{pokemon | evolve}}" alt="">
</div>
<div class="eeveeSection">
    <p>Eevee + Water Stone: {{pokemon | evolve:'water stone'}}.evolvedForm</p>
    <img src="{{pokemon | evolve:'water stone'}}".imgURL alt="">
</div>
<div class="eeveeSection">
    <p>Eevee + Thunder Stone: Jolteon</p>
    <img src="{{pokemon | evolve:'thunder stone'}}" alt="">
</div>
<div class="eeveeSection">
    <p>Eevee + Fire Stone: Flareon</p>
    <img src="{{pokemon | evolve:'fire stone'}}" alt="">
</div>