<h2>Eeveelution!!!!</h2>
<!-- <p>{{pokemon | evolve}}</p>
<p>{{pokemon | evolve:'water stone'}}</p>
<p>{{pokemon | evolve:'fire stone'}}</p>
<p>{{pokemon | evolve:'thunder stone'}}</p> -->

<div class="eeveeSection">
    <p>Eevee: The Evolution Pokemon {{(pokemon | evolve).evolvedForm}}</p>
    <img src="{{ (pokemon | evolve).imgURL }}" alt="">
</div>
<div class="eeveeSection">
    <p>Eevee + Water Stone: {{(pokemon | evolve:'water stone').evolvedForm}}</p>
    <img src="{{ (pokemon | evolve:'water stone').imgURL }}" alt="">
</div>
<div class="eeveeSection">
    <p>Eevee + Water Stone: {{(pokemon | evolve:'thunder stone').evolvedForm}}</p>
    <img src="{{ (pokemon | evolve:'thunder stone').imgURL }}" alt="">
</div>
<div class="eeveeSection">
    <p>Eevee + Water Stone: {{(pokemon | evolve:'fire stone').evolvedForm}}</p>
    <img src="{{ (pokemon | evolve:'fire stone').imgURL }}" alt="">
</div>
